# Virtual environment
myenv/

# Editor / IDE
.vscode/

# Salesforce
.sfdx/

# Python cache
__pycache__/
*.pyc
*.pyo

# App files
sentiment_model/

# Logs
transcriber.log

# Audio files
*.wav

sentiment_model_v2
